@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Open+Sans');


* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body {
	font-size: 16px;
	/*text-align: left;
	position: relative;*/
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
	/*margin: 15px 30px;*/
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	/*margin: auto;
	float: right;*/
}

nav a {
	font-family: 'Libre Franklin', sans-serif;
	color: black;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 20px;
	margin: 0 20px;
}

main {
	/*padding: 50px 0;*/
}

section {
}

footer {
	/*background-size: cover;*/
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Libre Franklin', sans-serif;
	line-height: 1.5em;
	font-weight: bold;
}

h1 {
	font-size: 60px;
	/*margin:200px 0 0;*/
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

h5 {
	font-size:1em;
}

p, li {
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
	line-height: 1.5em;
}

ul {
	list-style:none;
}

a {
	text-decoration:none;
	color: white;
}

img {
	width:100%;
}

.carousel {
	width:100%;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	/*margin:2em auto;
*/}

.carouselcaption {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

.footer {
	/*color: white;*/
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	height: 0;
	font-size: 0;
	visibility; hidden;
}

#wrapper {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

#title {
	font-family: 'Libre Franklin', sans-serif;
	font-size:1.5em;
	text-transform: uppercase;
	line-height: 1.5em;
	font-weight: bold;
}

#lander {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
	/*background:url(../images/boy.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
	/*background-size: cover;
	height:750px;*/
	/*padding:20px 0;*/
}

#projects {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
	/*margin: 15px 30px;*/
}

#sectionheading {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
	/*background: #000000;
	color: #ffffff;
	padding-top: 30px;
	padding-left: 30px;
	padding-bottom: 100px;
	padding-right: 100px;*/
}

#project1image {
	width:20em;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}

#project1text {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}

#project2image {
	width:20em;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#project2text {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}

#project3image {
	width:20em;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#project3text {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}

#project4image {
	width:20em;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#project4text {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}

#project5image {
	width:20em;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#project5text {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}

#project6image {
	width:20em;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#project6text {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;

}


